.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
  &__title {
    font-size: $l-size;
    margin: 0;
  }
  
  &__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
  }
}

