html {
  font-size: 62.5%;
}

body {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: $dark-blue;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
